<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui.min.js"></script>
<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui.min.css" media="all">
<script src="https://connect-cdn.atl-paas.net/all.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-experimental.css" media="all">
<script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-experimental.js"></script>

<section id="content" class="ac-content">
	<table class="aui aui-table-sortable">
		<thead>
			<tr>
				<th class="aui-table-column-issue-key">Priority</th>
				<th>Votes</th>
				<th>Project</th>
				<th>Last Activity</th>
				<th class="aui-table-column-unsortable">Vote</th>
			</tr>
		</thead>
		<tbody>
			<% @list.each_with_index do |item, index| %>
				<tr>
					<td><%= index + 1 %></td>
					<td><% unless item.dig("customFieldItems", 0, "value", "number").nil? %>
						<span class="aui-lozenge aui-lozenge-success"><%= item.dig("customFieldItems", 0, "value", "number") %>
						</span>
						<% end %>
					</td>
					<td><a href="<%= item["url"] %>" target="_blank"><%= item["name"] %></a></td>
					<td><span style="color:grey"><%= item["dateLastActivity"] %></span></td>
					<td>
						<% if item.dig("customFieldItems", 0, "value", "number").nil? %>
							<a href="/confluence/backlog/vote/<%= item['id'] %>?listID=<%= params[:id] %>&customfieldid=<%= params['customfieldid'] %>&count=0">
						<% else %>
							<a href="/confluence/backlog/vote/<%= item['id'] %>?listID=<%= params[:id] %>&customfieldid=<%= params['customfieldid'] %>&count=<%= item.dig("customFieldItems", 0, "value", "number") %>">
						<% end %>
						<button class="aui-button"><span class="aui-icon aui-icon-small aui-iconfont-approve">Approve</span> Vote</button></a></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</section>