<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//aui-cdn.atlassian.com/aui-adg/6.0.9/js/aui.min.js"></script>
<link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/6.0.9/css/aui.min.css" media="all">
<script src="<%= ENV['CONFLUENCE_URL'] %>/atlassian-connect/all.js"></script>

<section id="content" class="ac-content">
<div class="aui-tabs horizontal-tabs">
	<ul class="tabs-menu">
		<% @list.each_with_index do |list, index| %>
			<% if index == 0 %>
				<li class="menu-item active-tab">
			<% else %>
				<li class="menu-item">
			<% end %>
					<a href="#<%= list.id %>"><%= list.name %></a>
				</li>
		<% end %>
	</ul>
	<% @list.each_with_index do |list, index| %>
		<% if index == 0 %>
			<div class="tabs-pane active-pane" id="<%= list.id %>">
		<% else %>
			<div class="tabs-pane" id="<%= list.id %>">
		<% end %>
				<table class="aui">
					<thead>
						<tr>
							<th>Priority</th>
							<th>Project</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<% @card[list.id].each_with_index do |item, index| %>
							<tr>
								<td><%= index + 1 %></td>
								<td><%= item.name %></td>
								<td><%= truncate(item.desc, :length=>650) %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
	<% end %>
</div>
</section>